.nodeInfo {
	transition: 1.2s;
}

.nodeInfo:hover {
	background: #d9d9d9;
	transition: 1.2s;
}

#centerAligned {
	text-align: center;
}

.content.ui.form.createForm {
	text-align: center;
}

#topCard {
	margin-left: auto;
	margin-right: auto;
}

.additionalInfoHeader {
	padding-top: 5.7px;
}

/* Mobile Devices */
@media only screen 
and (max-width : 767px) {
	#topCard {
		width: 92.6%;
	}
}